/* 标签*/
.flag{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 66px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	border: 1px solid #ff6700;
	text-align: center;	
	z-index: 100;
	text-align: center;
	}
.new-flag{
	background: #fff;
	color: #ff6700;
}
.top{
	background: #333;
}
.top .top-nav{
	float: left;
}
.top .top-nav .top-nav-item{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .sep{
	color:#413b36;
	margin: 0 0.5em;
}

.top .user-info{
	float: right;
	width: 160px;
}
.top .user-info .user-info-item{
	float: left;
	height: 40px;
	line-height: 40px;
}

.top .cart{
	float: right;
	width: 120px;
	background: #424242;
	position: relative;
}
.top .cart .cart-box{
	position: relative;
	z-index: 889;
}
.top .cart .cart-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top .cart .cart-box .icon-cart{
	font-size: 20px;
	vertical-align: -4px;
}
.top .cart .cart-box a:hover{
	background: #fff;
	color: #ff6700;
}
.top .cart .cart-content{
	position: absolute;
	right: 0;
	top: 40px;
	background-color: #fff;
	width: 300px;
	height: 0;
	line-height: 100px;
	z-index: 888;
	box-shadow: 0px 2px 10px;
	text-align: center;
	overflow: hidden;
}
.top .cart .empty-cart{
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
}

.top .cart .cart-content .loader{
	position: relative;
	width: 4px;
	height: 20px;
	background: #ff6700;
	margin: 0px auto;
	animation: loading 0.5s linear 0s infinite alternate;
}
.top .cart .cart-content .loader:after,.loader:before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 4px;
	height: 20px;
	background: #ff6700;
}
.top .cart .cart-content .loader:after{
	margin-left: 10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate;
}
.top .cart .cart-content .loader:before{
	margin-left: -10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.5s infinite alternate;
}
@keyframes loading{
	from{
		opacity: 0.5;
		transform: scale(1,0.5);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}
.header{
	margin-left: -8px;
	height: 100px;
}
.header .logo{
	position: relative;
	float: left;
	width: 55px;
	height: 55px;
	background: #ff6700; 
	box-sizing: border-box;
}
.header .logo{
	margin-top: 20px;
}
.header .logo img{
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 55px;
	transition: all .5s;
}
.header .logo .logo-home{
	transform: translateX(-60px);		
	/*transform: translateX(-60px);*/
}
.logo:hover .logo-logo{		
	transform: translateX(60px);
}
.logo:hover .logo-home{
	transform: translateX(0px);
}
.header .header-nav{
	float: left;
	margin-left: 190px;
}
.header .header-nav .nav-item{
	width: 190px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	left: 235px;
	top: 40px;
	font-size: 16px;
	color: #000;
	display: inline-block;
}
.header .header-nav .header-nav-item{
	float: left;
	height: 100px;
	line-height: 100px;	
	margin-right: 20px;
}
.header .header-nav .header-nav-item a{
	font-size: 16px;
	color: #333;
}
.header .header-nav  .cate-box .cate{
	display: none;
	width: 200px;
	height: 400px;
	border: 1px solid #ff6700;
	position: absolute;
	left: 180px;
	top: 140px;
	z-index: 999;
	background-color: #fff;
}
.header .header-nav  .cate-box .cate li{
	height: 40px;
	line-height: 40px;
}
.header .header-nav  .cate-box .cate-content{
	display: none;
}
.header .header-nav  .cate-box .cate-content ul{
	background-color: #fff;
	position: absolute;
	left: 380px;
	top: 140px;
	width: 1100px;
	height: 400px;
	box-shadow: 0px 2px 2px 0px;
	overflow: hidden;
	z-index: 99;
}
.header .header-nav  .cate-box .cate-content ul li{
	width: 130px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
}
.header .header-nav  .cate-box .cate-content ul li a{
	width: 20px;
	height: 30px;
	line-height: 30px;
}
.header .header-nav  .cate-box .cate-content ul li img{
	width: 20px;
	height: 30px;
}
.header .header-nav  .cate-box .cate-content ul li span{
	vertical-align: top;
	color: #414141;
}
.header .header-nav  .cate-box .cate-content ul li span:hover{
	color: #ff6700;
}
.header .header-nav  .cate-box .cate-content ul li 
.header .header-nav  .cate-box .cate .cate-item{
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
}
.header .header-nav  .cate-box .active{
	background-color: #ff6700;
}
.header .header-nav  .cate-box .cate .cate-item a{
	margin-left: 20px;
	color: #424242;
}
.header .header-nav  .cate-box .cate .cate-item i{
	float: right;
	color: #e1e1e1;
}
.header .header-nav .header-nav-item a:hover{
	color: #ff6700;
}
.header .header-nav-content{
	position: absolute;
	top: 140px;
	left: 0;
	width: 100%;
	/*height: 180px;*/
	height: 0px;
	background: #fff;
	/*border-top: 1px solid #ccc;*/
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	z-index: 1111;
}
.header .header-nav-content li{
	float: left;
	width: 200px;
	height: 100px;
	text-align: center;
	position: relative;
}
.header .header-nav-content li .img-box{
	width: 100%;
	height: 100px;
	margin-top: 30px;
	border-right: 1px solid #ccc;
}
.header .header-nav-content li .img-box img{
	width: 100px;
	height: 100%;
}
.header .header-nav-content .product-name{
	font-size: 12px
}
.header .header-nav-content .product-price{
	font-size: 12px;
	color: #ff6700;
}
.header .header-nav-content .tag{
	position: absolute;
	top: 0;
	left: 50%;
	width: 60px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-left: -30px;
	color: #ff6700;
	border: 1px solid #ff6700;
}
.header .loader{
	position: relative;
	width: 4px;
	height: 20px;
	background: #ff6700;
	margin: 0px auto;
	animation: loading 0.5s linear 0s infinite alternate;
}
.header .loader:after,.loader:before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 4px;
	height: 20px;
	background: #ff6700;
}
.header .loader:after{
	margin-left: 10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate;
}
.header .loader:before{
	margin-left: -10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.5s infinite alternate;
}
@keyframes loading{
	from{
		opacity: 0.5;
		transform: scale(1,0.5);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}
.header .search{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	position: relative;
}
.header .search .search-text{
	float: left;
	width: 246px;
	height: 100%;
	border: 1px solid #e0e0e0;
	border-right: none;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.header .search .search-btn{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align:center;
	font-size: 18px;
	cursor: pointer;
}
.header .search .search-hot-words{
	position: absolute;
	left:100px;
	line-height: 50px;
}
.header .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
	color: #757575;
	background: #eee;
}

.header .search .search-keyword-list{
	display: none;
	position: absolute;
	top:50px;
	left:0;
	z-index: 80;
	width: 247px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
}
.header .search .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;
}
.header .search .search-keyword-list .keyword-item a{
	display: block;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;

}
.header .search .search-keyword-list .keyword-item .keyword{
	color: #333;
}
.header .search .search-keyword-list .keyword-item .num{
	float: right;
	color: #b0b0b0;
}

.header .search .search-text:hover{
	border-color: #999;
}
.header .search .search-text:hover + .search-btn{
	border-color: #999;
}
.header .search .search-btn:hover{
	background: #ff6700;
	border: none;
	color: #fff;
}
.header .search .search-hot-words .search-hot-words-item:hover{
	background: #ff6700;
	color: #fff;
}
.header .search:hover .search-text,
.header .search:hover .search-btn
{
	border-color: #999;
}
.header .search .search-text:focus{
	border-color: #ff6700;
}
.header .search .search-text:focus + .search-btn{
	border-color: #ff6700;
}
.header .search .search-text:focus ~ .search-keyword-list{
	display: block;
}
.header .search .search-text:focus ~ .search-hot-words{
	display: none;
}
.header .search .search-keyword-list .keyword-item a:hover{
	background: #eee;
}
.logo {
	margin-left: -8px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.logo .bread{
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	margin-left: 200px;
	}
.logo .bread a{
	color: #757575;
	}
.logo .bread a:hover{
	color: #616161;
	}
.logo .bread .sep{
	margin: 0 0.5em;
	color: #b0b0b0;
	}
.logo .content{
	list-style: none;
	width: 1233px;
	height: 300px;
	position: relative;
	margin-left: 200px;
}
.logo li{
		width: 1233px;
		height: 250px;
	}
.logo li img{
	margin-top:10px;
	width: 100%;
	height: 250px;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;	
}
.logo .carousel-btn {
	position: absolute;
/*	top: 50%;
	left: 50%;*/
	bottom: 60px;
	left: 50%;
	margin-left: -20px;
	z-index: 6
}
.logo .carousel-btn li{
		float: left;
		width: 6px;
		height: 6px;
		border: 2px solid #b5b3ad;
		margin-left: 10px;
		background: #96938a;
		border-radius: 50%;
		cursor: pointer;
	}
.logo .carousel-btn li:hover,
.logo .carousel-btn li.active{
		background: #fcf9f0;
		border-color: #979590;
	}

.main{
	width: 100%;
	height: 1500px;
	margin-left: 20px;
}
.main .top{
	width: 100%;
	height: 750px;
	background: #fff;
}
.main .top h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;
}
.main .top .box{
	width: 24%;
	height: 250px;
	text-align: center;
	transition: all 0.3s;
	background: #fff;
	cursor: pointer;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
.main .top .box:hover a{
	color: #ff6700;
}
.main .top .box:hover{
	color: #ff6700;
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.main .top .box img{
	margin-top: 80px;
}
.main .top .box .list-name{
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-top: 20px;
}
.main .top .box .list-desc{
	margin-top: 17px;
	font-size: 12px;
}
.main .bottom{
	width: 100%;
	height: 750px;
}
.main .bottom .box{
	width: 24%;
	height: 310px;
	text-align: center;
	cursor: pointer;
	float: left;
}
.main .bottom .box .list-name{
	color: #666666;
	font-size: 16px;
	padding-bottom: 20px;
}
.main .bottom img{
	background: #fff;
}
.service{
	width: 100%;
	margin-top: 50px;
}
.box1{
	height: 500px;
	position: relative;
	margin-left: 150px;
}
.service .box1 h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;
}
.service .box1 .left: {
	width: 600px;
	height: 360px;
	border: 1px solid #000;
}
.service .box1 .left img{
	width: 50%;
}
.service .box1 .right{
	width: 50%;
	height: 316px;
	position: absolute;
	right: 0;
	top: 20px;
	text-align: center;
}
.service .box1 .right h3{
	font-size: 20px;
	color: #000000;
	
	margin-top: 100px;
}
.service .box1 .right .desc{
	font-size: 16px;
	color: #666666;
	margin-top: 25px;
	margin-left: 40px;
}
.service .box1 .right .content{
	height: 55px;
	width: 60px;
	text-align: center;
	float: left;
	margin-left: 55px;
	margin-top: 45px;
}
.service .box1 .right a{
	display: block;
	font-size: 12px;
	color: #858585;
}
.service .box1 .right .list-name{
	position: absolute;
	bottom: -60px;
	left: 300px;
	font-size: 16px;
}
.service .box1 .right .list-name:hover{
	color: #ff6700;
}
.box2{
	height: 500px;
	margin-top: 80px;
	margin-left: 150px;
	/*background: #f5f5f5;*/
}
.service .box2 h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;

}
.service .box2 input{
	width: 649px;
	height: 50px;
	font-size: 16px;
	float: left;
	margin-top: 15px;
	border: none;
	margin-left: 330px;
	outline: none;
	background: #f5f5f5;
}
.service .box2 .search-btn{
	float: left;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-top: 15px;
	text-align: center;
	margin-left: -54px;
}
.service .box2 .search-btn:hover{
	background-color: #ff6700;
	color: #fff;
	cursor: pointer;
}
.service .box2 .header-nav #tab-container li{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.service .box2 .header-nav #tab-container .a1{
	font-size: 15px;
	color: #222222;
	margin-left: 30px;
	width: 300px;
	height: 50px;
}
.service .box2 .header-nav #tab-container .a1:nth-child(1){
	position: absolute;
	left: 200px;
	top: 0;
}
.service .box2 .header-nav #tab-container .a1:nth-child(2){
	position: absolute;
	left: 700px;
	top: 0;
}
.service .box2 .header-nav #tab-container .a1:nth-child(3){
	position: absolute;
	left: 200px;
	top: 50px;
}
.service .box2 .header-nav #tab-container .a1:nth-child(4){
	position: absolute;
	left: 700px;
	top: 50px;
}
.service .box2 .header-nav #tab-container .a1:nth-child(5){
	position: absolute;
	left: 200px;
	top: 100px;
}
.service .box2 .header-nav #tab-container .a1:nth-child(6){
	position: absolute;
	left: 700px;
	top: 100px;
}
.service .box2 .header-nav #tab-container{
	height: 300px;
	position: relative;
}

.service .box2 .header-nav #tab-container .a1:hover .d1{
	background-color: #ff6700;
}
.service .box2 .header-nav #tab-container .a1:hover {
	color: #ff6700;
}
.service .box2 .header-nav #tab-container .a1 .d1{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #e2e2e2;
	position: absolute;
	top: 12px;
	left: -12px;
}
.service .box2 .header-nav #tab-container{
	width: 300px;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	position: relative;
}
.service .box2 .header-nav #tab-container .a2{
	display: inline-block;
	position: absolute;
	top: 163px;
	left: 600px;
	color: #767676;
	cursor: pointer;
	width: 300px;
}
.service .box2 .header-nav #tab-container .a2:hover{
	color: #ff6700;
}
.service .header-nav{
	margin-top: 20px;
	float: left;
	height: 100px;
	width: 100%;
	position: relative;
}
.service .header-nav .active{
	background-color: #ff6700;
	color: #fff;
}
.service .box2 .header-nav #tab-list li {
	float: left;
	width: 180px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.service .box2 .header-nav #tab-list{
	height: 100px;
}
.contact{
	width: 100%;
}
.contact h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;
	margin-top: 20px;
}
.contact .box{
	width: 100%;
	height: 500px;
	position: relative;
	margin-left: 65px;
}
.contact .box .box1{
	width: 360px;
	height: 250px;
	float: left;
	line-height: 250px;
	text-align: center;
	margin-right: 20px;
	margin-top: 10px;
	transition: all 0.3s;
}
.contact .box .box1 .q-img{
	position: absolute;
	left: 30%;
	top: 25%;
	display: none;
}
.contact .box .box1 img{
	margin-right: 80px;
}
.contact .box .box1:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.contact .box .box1:first-child{
	margin-left: 20px;
}
.contact .box .box1:nth-child(4){
	margin-left: 20px;
}
.contact .box .box1 span:nth-child(2){
	position: absolute;
	left: 185px;
	top: -30px;
}
.contact .box .box1 span:nth-child(3){
	position: absolute;
	left: 185px;
	top: 0;
}
.contact .box .box1 p{
	font-size: 12px;
	color: #767676;
	position: absolute;
	bottom:-70px;
	left: 50px;
}
.end{
	height: 300px;
}
.end .service{
	border-bottom: 1px solid #e0e0e0;
}
.end .service .service-item{
	float: left;
	width: 20%;
	height: 16px;
	padding: 30px 0;
	text-align: center;
}
.end .service .service-item a{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #616161;
	border-right: 1px solid #e0e0e0;
}
.end .service .service-item a:hover:hover{
	color: #ff6700;
}
.end .service .service-item:last-child a{
	border: none;
}
.end .service .service-item a i{
	font-size: 22px;
	margin-right: 8px;
	vertical-align: -4px;
}
.end .links .links-item{
	float: left;
	padding: 40px 0;
	margin-right: 105px;
}
.end .links .links-item dt{
	font-size: 14px;
	color: #424242;
	margin-bottom: 26px;
}
.end .links .links-item dd{
	font-size: 12px;
	color: #757575;
	margin-bottom: 16px;
}
.end .links .links-item dd a:hover{
	color: #ff6700;
}
.end .links .links-contact{
	float: right;
	width: 246px;
	height: 117px;
	margin: 40px 0;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.end .links .links-contact .phone-nub{
	font-size: 22px;
	color: #ff6700;
}
.end .links .links-contact .work-time,
.end .links .links-contact .desc{
	font-size: 12px;
	color: #616161;
}
.end .links .links-contact .desc{
	margin-bottom: 16px;
}
.end .links .links-contact .call a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ff6700;
	background-color: #fff;
}
.end .links .links-contact .call a i,
.end .links .links-contact .call a{
	font-size: 12px;
	color: #ff6700;
}
.end .links .links-contact .call a i{
	margin-right: 3px;
}
.end .links .links-contact .call a:hover{
	background-color: #ff6700;
	color: #fff;
}
.end .links .links-contact .call a:hover i{
	color: #fff;
}

.end{
    padding: 40px 0;
    background: #fafafa;
}
.end .aa .logo{
	float: left;
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 5px;
}
.end .aa .logo img{
	float: left;
	width: 100%;
	height: 100%;
}
.end .aa .siste{
	float: left;
}
.end .aa .siste .nav-link a{
	color: #757575;
}
.end .aa .siste .nav-link .sep{
	font-size: 12px;
	color: #b2b0b2;
	margin: 0 0.25em;
	display: inline-block;
}
.end .aa .siste .nav-link a:hover{
	color: #ff6700;
}
.end .aa .siste .icp a{
	font-size: 11px;
	color: #d7c0b2;
}
.end .aa .siste .icp a:hover{
	color: #ff6700;
}
.end .aa .siste .decare{
	font-size: 12px;
	color: #b2b2b2;
}
.end .aa .links{
	float: right;
}
.end .aa .links img{
	height: 28px;
}
.end .slogan{
	margin-top: 37px;
	font-size: 16px;
	text-align: center;
	color: #cacaca;
}