.container{
	position: relative;
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
a{
	text-decoration: none;
	font-size: 12px;
	color: #b0b0b0;
}
.clearfix:after{
	display: block;
	content:'';
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
 h2{
	float: left;
	text-align: center;
	line-height: 60px;
}
.double{
	float: right;
	width: 70px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin-top: 33px;
}
.double-left{
	float: left;
	width: 35px;
	height: 24px;
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	cursor: pointer;
}
.double-right{
	float: right;
	width: 35px;
	height: 24px;
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	border-left: none;
	cursor: pointer;
}
.more-link{
	float: right;
	width: 90px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin-top: 33px;
}
.more-link a{
	font-size: 15px;
}
.more-link i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #e0e0e0;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.more-link:hover i{
	background: #ff6700;
}
.more-link:hover a{
	color: #ff6700;
}
.tab-list{
	width: 210px;
	height: 60px;
	float: right;
	padding: 20px 0px;
	box-sizing: border-box;
}
.tab-list li{
	float: left;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
}
.tab-list li.active{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}

.ad-item{
	position: relative;
	float: left;
	width: 234px;
	height: 340px;
	background: white;
	text-align: center;
	margin-left: 14px;
	box-sizing: border-box;
	border-top: 1px solid #ff6700;
	transition: all 0.3s linear;
}

.ad-item:nth-child(1){
	margin-left: 0;
}
.ad-item:nth-child(5){
	margin-left: 0;
}
.ad-item img{
	width: 120px;
	height: 150px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.ad-item .item-name{
	font-size: 14px;
	margin-bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ad-item .item-desc{
	font-size: 12px;
	color:#adb0b5;
	margin-bottom: 17px;
}

.ad-item .item-pr-now{
	color:#ff6700;
}
.ad-item .item-pr-old{
	color:#adb0b5;
}
.ad-item .item-black{
	position: absolute;
	left: 0;
	top: 0;
	width: 234px;
	height: 340px;
	background: rgba(255,255,255,0.2);
	cursor: pointer;
}
.ad-item:hover .repo{
	height: 75px;
	opacity: 1;
}

.ad-item-m{
	height: 300px;
	margin-left: 14px;
}
.ad-item-m img{
	margin-top: 35px;
	margin-bottom: 35px;
}
.ad-item-m .item-name{
	margin-bottom: 8px;
}
.ad-item-m .item-desc{
	margin-bottom: 5px;
}
.ad-item-m .item-black{
	height: 300px;
}
.ad-item-m{
	margin-bottom: 14px;
}
.ad-item-m:hover{
	transform: translateY(-2px);
	box-shadow: 0 2px 5px;
}
.ad-item .sell{
	position: absolute;
	left: 50%;
	top: 1px;
	margin-left: -33px;
	width: 65px;
	height: 20px;
	font-size: 14px;
	color: #fff;
}
.ad-item .sell-off{
	background: red;
}
.ad-item .sell-new{
	background: green;
}
.ad-item .repo{
	position: absolute;
	left:0;
	bottom: 0px;
	width: 234px;
	height: 0;
	opacity: 0;
	background: #ff6700;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.2s linear
}
.ad-item .repo .repo-info{
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 14px;
	color: #e0e0e0;
	margin:10px 20px;
}
.ad-item .repo .repo-from{
	color: #e0e0e0;
	font-size: 13px;
	text-align: left;
	margin:10px 20px;
}
.ad-item .repo .repo-from .repo-authr{
	margin:0px 5px;
}
.ad-item-s{
	height: 143px;
}
.ad-item-s .ad-item-s-name{
	display: block;
	margin-top: 44px;
	margin-left: 20px;
	font-size: 16px;
	color:#000;
	text-align: left;
	cursor: pointer;
}
.ad-item-s .ad-item-s-pr{
	display: block;
	margin-top: 10px;
	margin-left: 20px;
	text-align: left;
	font-size: 14px;
	color: #ff6700;
}
.ad-item-s img{
	position: absolute;
	top: 0px;
	right: 30px;
	width: 45px;
	height: 65px;
	cursor: pointer;
}
.ad-item-s .ad-item-s-more{
	font-size: 18px;
	cursor: pointer;
}
.ad-item-s .ad-item-s-hot{
	font-size: 12px;
	color: #7d81a0;
	cursor: pointer;
}
.ad-item-s i{
	position: absolute;
	top: 43px;
	right: 25px;
	font-size: 50px;
	color: #ff6700;
	cursor: pointer;
}
.nobd{
	border-top: none;
}