.container{
	width: 1583px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0px;
}
.clearfix{
	*zoom:1;
}
a{
	text-decoration: none;
}