.top{
	height: 40px;
	background: #333333;
}
.top .nav{
	float: left;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.top .nav .nav-item{
	float: left;
	text-align: center;
	line-height: 40px;
}
.nav .sep{
	margin:0 7px;
	color: #42423b;
}
.top .nav .nav-item a:hover{
	color: #fff;
}
.cart{
	width: 120px;
	height: 40px;
	float: right;
	text-align: center;
	line-height: 40px;
	background: #424242;
	cursor: pointer;
}
.cart-a i{
	font-size: 18px;
}
.cart:hover{
	background: #fff;
}
.cart:hover .cart-a{
	color: #ff6700;
}

.inf{
	width: 176px;
	height: 40px;
	float: right;
	text-align: center;
	line-height: 40px;
}
.inf-a-span{
	margin-left: 5px;
	color:#42423b;
}
.top .inf a:hover{
	color: #fff;
}
.header{
	margin-top: 22px;
	height: 55px;
}
.header .logo{
	float: left;
	width: 55px;
	height: 55px;
	background: #ff6700; 
	padding-top: 3px;
	box-sizing: border-box;
}
.header .logo img{
	width: 55px;
	height: 55px;
}
.header .shop{
	float: left;
	width: 600px;
	height: 55px;
	margin-left: 190px;
}
.header .shop-ul{
	margin-left: 30px;
	height: 55px;
	list-style: none;
	text-align: center;
	line-height: 55px;
}
.header .shop-ul-li{
	margin-right: 15px;
	float: left;
}
.header .shop-ul-li a{
	color: #000;
	font-size: 15px;
}
.header .shop-ul-li a:hover{
	color:#ff6700;
}
.header .search{
	position: relative;
	float: right;
	width: 300px;
	height: 55px;
}
.header .search input{
	padding-left: 10px;
	outline: none;
	float: left;
	width: 245px;
	height: 55px;
	box-sizing: border-box;
	border: 0.2px solid #e0e0e0;
}
.header .search .search-span{
	width: 55px;
	height: 55px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	border-left: none;
}
.header .search .search-span i{
	position: absolute;
	left: 15px;
	top: 15px;
	font-size: 25px;
	color:#616161;
}

.header .search .search-ad{
	position: absolute;
	left: 94px;
	top: 17px;
	width: 140px;
	height: 20px;
}
.header .search .search-ad a{
	color: #555;
	display: inline-block;
	background: #eee;
}

.header .search .search-list{
	display: none;
	position: absolute;
	left: 0px;
	top: 55px;
	width: 245px;
	border: 1px solid #ff6700;
	box-sizing: border-box;
	background: #fff;
	z-index: 2;
}
.search-list .search-list-li{
	height: 30px;
	line-height: 30px;
	padding: 0 10px 0px 10px;
	cursor: pointer;
}

.search-list .search-list-keywords{
	color: #000;
}
.search-list .search-list-num{
	float: right;
}
.header .search:hover input{
	border-color: #999;
}
.header .search:hover .search-span{
	border-color: #999;
}
.search .search-span:hover{
	background: #ff6700;
}
.search .search-span:hover i{
	color:#fff;
}
.header .search .search-ad a:hover{
	background: #ff6700;
	color: #fff;
}
.search-list .search-list-li:hover{
	background: #eee;
}
.header .search .search-input:focus{
	border:1px solid #ff6700;
}
.header .search .search-input:focus ~ .search-span{
	border-color: #ff6700;
}
.header .search .search-input:focus ~ .search-ad{
	display: none;
}
.header .search input:focus ~ .search-list{
	display: inline-block;
	border-top: none;
}
.home{
	position: relative;
	margin-top: 22px;
}
.home .banner{
	position: relative;
	margin-bottom: 14px;
}
.home .banner-ad-ul{
	width: 234px;
	height: 460px;
	line-height: 40px;
	padding: 15px 0 20px 0;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
}
.home .banner-ad .banner-ad-a{
	position: absolute;
	left: 0;
	top:0;
	width: 1226px;
	height: 460px;
	background-color: red;
}
.home .banner-ad .banner-ad-a img{
	width: 1226px;
	height: 460px;
}
.home .banner-ad-ul{
	position: relative;
	z-index: 1;
}
.home .banner-ad-ul-li{
	cursor: pointer;
	padding-left: 30px;
	font-size: 20px;
	color:#bbbab7;
}
.home .banner-ad-ul-li a{
	color: #fff;
}
.home .banner-ad-ul-li i{
	margin-right: 15px;
	float: right;
}
.home .banner .banner-span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	width: 50px;
	height: 80px;
	font-size: 25px;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}
.home .banner .banner-span-left{
	left: 234px;
}
.home .banner .banner-span-right{
	right: 0px;
}
.home .banner .banner-point{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width:100px;
	height:20px;
}
.home .banner .banner-point .banner-point-li{
	float: left;
	list-style: none;
	width: 8px;
	height: 8px;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 50%;
	border:2px solid #999;
	background:#666;
	cursor: pointer;
}
.home .banner .banner-point .banner-point-li:hover{
	background: #fff;
}
.home .banner .banner-span:hover{
	background: #222;
	color:#fff;
}
.home .banner-ad-ul-li:hover{
	background: #ff6700;
}
.home .box{
	height: 170px;
	margin-bottom: 14px;
}
.home .box .box-ul{
	float: left;
	position: relative;
	width: 234px;
	height: 170px;
	background: #5f5750;
}
.home .box .box-ul-li{
	float: left;
	width: 78px;
	height: 85px;
	font-size: 12px;
	text-align: center;
}
.home .box .box-ul-li i{
	display: inline-block;
	font-size: 23px;
	margin-top: 20px;
	color: #cfcdcb;
}
.home .box .box-ul-span{
	position: absolute;
	top: 5px;
	width: 1px;
	height: 70px;
	background: #665e57;
}
.home .box .box-ul-span0{
	position: absolute;
	top: 85px;
	width: 65px;
	height: 1px;
	background:#665e57;
}
.box-ul-span1{
	left: 78px;
}
.box-ul-span2{
	left: 156px;
}
.home .box .box-ul-span3{
	left: 78px;
	top: 95px;
}
.home .box .box-ul-span4{
	left: 156px;
	top: 95px;
}
.home .box .box-ul-span5{
	left: 9px;
}
.home .box .box-ul-span6{
	left: 85px;
}
.home .box .box-ul-span7{
	left: 161px;
}
.home .box .box-ad{
	float: right;
	width: 978px;
	height: 170px;
	margin-left: 14px;
}
.home .box .box-ad .box-ad-li{
	float: left;
	width: 316px;
	margin-left: 14px;
	cursor: pointer;
}
.home .box .box-ad .box-ad-li:nth-child(1){
	margin-left: 0;
}
.home .box .box-ad .box-ad-li img{
	width: 318px;
	height: 170px;
}
.home .flash{
	height: 400px;
	margin-bottom: 33px;
}
.home .flash .flash-head{
	width: 100%;
	height: 60px;
}
.home .flash .flash-time{
	float: left;
	width: 234px;
	height: 340px;
	background:#f1eded;
	text-align: center;
	padding-top: 60px;
	box-sizing: border-box;
	border-top: 1px solid #ff6700;
}
.home .flash .flash-time-p1{
	font-size: 20px;
	color:#ef3a3b;
	margin-bottom: 33px;
}
.home .flash .flash-time img{
	margin-bottom: 33px;
}
.home .flash .flash-time-p2{
	font-size: 14px;
	color: #706f6f;
	margin-bottom: 33px;
}
.home .flash .flash-time .flash-timing{
	display: inline-block;
	height: 46px;

}
.home .flash .flash-time .flash-timing span{
	float: left;
}
.flash-timing .flash-time-span{
	width: 46px;
	height: 46px;
	background: #605751;
	line-height: 46px;
	font-size: 20px;
}
.flash-timing .flash-time-span0{
	font-size: 32px;
	margin-right: 3px;
	margin-left:3px;
}
.home .flash .flash-ad{
	float: right;
	width: 978px;
	height: 340px;
}

.home .ad{
	width: 100%;
	height: 121px;
}
.home .ad img{
	width: 100%;
	height: 100%;
}
.main{
	background: #f5f5f5;
	margin-bottom: 33px;
}
.main .phone{
	height: 840px;
}

.main .main-head{
	height: 60px;
}
.main .main-ad-left{
	float: left;
	width: 234px;
	height: 614px;
	border-top: 1px solid #ff6700;
	box-sizing: border-box;
}
.main .main-ad-left img{
	width: 234px;
	height: 614px;
	transition: all 0.3s linear;
}
.main .main-ad-left-double img{
	width: 234px;
	height: 300px;
}
.main .main-ad-left-double img:first-child{
	margin-bottom: 11px;
}
.main .main-ad-left img:hover{
	transform: translateY(-2px);
	box-shadow: 0 3px 5px 2px;
}
.main .main-item{
	float: left;
	width: 978px;
	height: 614px;
	margin-left: 14px;	
	margin-bottom: 33px;
}
.main .ad{
	width: 100%;
	height: 121px;
	margin-bottom: 33px;
}
.main .ad img{
	width: 100%;
	height: 100%;
}
.main .ele{
	height: 840px;
}
.main .video .video-item{
	height: 285px;
}
.main .video .video-item li{
	float: left;
	position: relative;
	width: 296px;
	height: 285px;
	text-align: center;
	transition: all 0.2s linear;
	margin-left: 14px;
	background: #fff;
}
.main .video .video-item li:first-child{
	margin-left: 0px;
}
.video-item img{
	width: 296px;
	height: 180px;
}
.video-item .video-name{
	display: inline-block;
	font-size: 13px;
	color: #333333;
	margin-top: 32px;
}
.video-item .video-desc{
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 13px;
}
.video-item .video-play{
	position: absolute;
	left: 20px;
	top: 146px;
	width: 36px;
	height: 25px;
	border:2px solid #fff;
	border-radius: 20px;
}
.video-item .video-play i{
	font-size: 30px;
	color: #fff;
	vertical-align: -1px;
	line-height: 25px;
}
.main .video .video-item li:hover{
	transform: translateY(-2px);
	box-shadow:  0 2px 5px;
}
.video-item img:hover ~ .video-play{
	background: #ff6700;
	border-color: #ff6700;
}
.footer{
	background: white;
	margin-bottom: 33px;
}
.footer .service{
	height: 81px;
	border-bottom:2px solid #e0e0e0;
	box-sizing: border-box;
}
.footer .service .service-item{
	float: left;
	width: 20%;
	height: 25px;
	text-align: center;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	line-height: 25px;
	margin:28px 0px;
}
.footer .service .service-item:last-child{
	border-right: none;
}
.footer .service .service-item a{
	font-size: 15px;
	color:#616174;
	cursor: pointer;
}
.footer .service .service-item a:hover{
	color: #ff6700;
}
.footer .service .service-item i{
	font-size: 23px;
	vertical-align: -3px;
}
.end .container{
	background: #eee;
	height: 300px;
	position: relative;
}
.end .end-link{
	float: left;
	width: 930px;
}
.end .end-link .end-link-item{
	width: 155px;
	height: 195px;
	float: left;
}
.end .end-link .end-link-item dt{
	font-size: 14px;
	color: #424247;
	margin-bottom: 32px;
}
.end .end-link .end-link-item dd{
	margin-bottom: 8px;
	color: #8e8e8e;
}
.end .end-link .end-link-item a:hover{
	color: #ff6700;
}
.end .contact{
	float: right;
	width: 245px;
	text-align: center;
	border-left: 2px solid #e0e0e0;
}
.end .contact .contact-tel{
	font-size: 20px;
	color: #ff6700;
	margin-top: 5px;
}
.end .contact .contact-worktime{
	font-size: 12px;
	color: #616161;
	margin-top: 11px;
}
.end .contact .contact-desc{
	font-size: 12px;
	color: #616161;
	margin-top: 6px;
}
.end .contact .contact-online{
	display: inline-block;
	width: 119px;
	height: 30px;
	border:2px solid #ff6700;
	margin-top: 20px;
	cursor: pointer;
}
.end .contact .contact-online a{
	font-size: 12px;
	color: #ff6700;
}
.end .contact .contact-online:hover{
	background: #ff6700;
}
.end .contact .contact-online:hover a{
	color: #fff;
}
.end .end-nav{
	position: relative;
	width: 1226px;
	height: 60px;
	float: left;
}
.end .end-nav .end-logo{
	float: left;
	width: 60px;
	height: 60px;
	background: #ff6700;
}
.end .end-nav .end-nav-list{
	color: #799ed0;
	font-size: 12px;
	margin-left: 80px;
}
.end .end-nav .end-nav-list span{
	color: #e0e0e0;
	margin-left: 5px;
	right: 5px;
}
.end .end-nav .end-nav-list a:hover{
	color: #ff6700;
}
.end .end-nav-p1{
	font-size: 12px;
	color: #c0b0b0;
	margin-left: 80px;
	margin-top: 8px;
}
.end .end-nav-p1 a:hover{
	color: #ff6700;
}
.end .end-nav-repo{
	font-size: 12px;
	color: #c0b0b0;
	margin-left: 80px;
	margin-top: 8px;
}
.end .end-nav .v-logo{
	position: absolute;
	right: 0;
	top: 0;
}
.end .end-nav .v-logo a img{
	width: 80px;
	height: 26px;
}
.end .end-bg{
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -140px;
	width: 280px;
	height: 23px;
	background: url(../img/slogan.png) no-repeat;
}



