/*通用部分*/
	.container{
		position: relative;
		width: 1226px;
		margin-left: auto;
		margin-right: auto;
	}
	a{
	text-decoration: none;
	font-size: 12px;
	color: #b0b0b0;
	} 
	.clearfix:after{
		display: block;
		content:'';
		clear: both;
		height: 0;
		visibility: hidden;
	}
	.clearfix{
		*zoom:1;
	}
/*通用部分结束*/
/*顶部导航栏*/
	.top{
	height: 40px;
	background: #333333;
	}
	/*左部导航*/
		.top .nav{
			float: left;
			height: 40px;
			text-align: center;
			line-height: 40px;
		}
		.top .nav .nav-item{
			float: left;
			text-align: center;
			line-height: 40px;
		}
		.nav .sep{
			margin:0 5px;
			color: #42423b;
		}
		.top .nav .nav-item a:hover{
			color: #fff;
		}
	/*左部导航结束*/
	/*购物车*/
		.cart{
			width: 120px;
			height: 40px;
			float: right;
			text-align: center;
			line-height: 40px;
			background: #424242;
			cursor: pointer;
		}
		.cart-a i{
			font-size: 18px;
		}
		.cart:hover{
			background: #fff;
		}
		.cart:hover .cart-a{
			color: #ff6700;
		}
	/*购物车结束*/
	/*登陆*/
		.inf{
			width: 176px;
			height: 40px;
			float: right;
			text-align: center;
			line-height: 40px;
		}
		.inf-a-span{
			margin-left: 5px;
			color:#42423b;
		}
		.top .inf a:hover{
			color: #fff;
		}
	/*登陆结束*/
/*顶部导航栏结束*/
/*商品分类导航*/
	.header{
		margin-top: 22px;
		height: 55px;
	}
	/*顶部logo*/
		.header .logo{
			position: relative;
			float: left;
			width: 55px;
			height: 55px;
			background: #ff6700; 
			box-sizing: border-box;
		}
		.header .logo img{
			position: absolute;
			left: 0;
			top: 0;
			width: 55px;
			height: 55px;
			transition: all .5s;
		}
		.header .logo .logo-home{
			transform: translateX(-60px);
			
			/*transform: translateX(-60px);*/
		}
		.logo:hover .logo-logo{
			
			transform: translateX(60px);
		}
		.logo:hover .logo-home{
			transform: translateX(0px);
		}
	/*顶部logo结束*/
	/*商品链接*/
		.header .shop{
			float: left;
			/* width: 600px; */
			height: 55px;
			margin-left: 50px;
		}
		.header .shop-ul{
			margin-left: 30px;
			height: 55px;
			list-style: none;
			text-align: center;
			line-height: 55px;
		}
		.header .shop-ul-li{
			margin-right: 20px;
			float: left;
		}
		.header .shop-ul-li a{
			color: #000;
			font-size: 16px;
		}
		.header .shop-ul-li a:hover{
			color:#ff6700;
		}
	/*商品链接结束*/
	/*搜索框*/
		.header .search{
			position: relative;
			float: right;
			width: 300px;
			height: 55px;
		}
		.header .search input{
			padding-left: 10px;
			outline: none;
			float: left;
			width: 245px;
			height: 55px;
			box-sizing: border-box;
			border: 0.2px solid #e0e0e0;
		}
		.header .search .search-span{
			width: 55px;
			height: 55px;
			display: inline-block;
			position: relative;
			cursor: pointer;
			border: 1px solid #e0e0e0;
			box-sizing: border-box;
			border-left: none;
		}
		.header .search .search-span i{
			position: absolute;
			left: 15px;
			top: 15px;
			font-size: 25px;
			color:#616161;
		}
		/*搜索框广告*/
			.header .search .search-ad{
				position: absolute;
				left: 94px;
				top: 17px;
				width: 140px;
				height: 20px;
			}
			.header .search .search-ad a{
				color: #555;
				display: inline-block;
				background: #eee;
			}
		/*搜索框广告结束*/
		/*点击推荐*/
			.header .search .search-list{
				display: none;
				position: absolute;
				left: 0px;
				top: 55px;
				width: 245px;
				border: 1px solid #ff6700;
				box-sizing: border-box;
				background: #fff;
				z-index: 2;
			}
			.search-list .search-list-li{
				height: 30px;
				line-height: 30px;
				padding: 0 10px 0px 10px;
				cursor: pointer;
			}
			.search-list .search-list-keywords{
				color: #000;
			}
			.search-list .search-list-num{
				float: right;
			}
		/*点击推荐结束*/
		.header .search:hover input{
			border-color: #999;
		}
		.header .search:hover .search-span{
			border-color: #999;
		}
		.search .search-span:hover{
			background: #ff6700;
		}
		.search .search-span:hover i{
			color:#fff;
		}
		.header .search .search-ad a:hover{
			background: #ff6700;
			color: #fff;
		}
		.search-list .search-list-li:hover{
			background: #eee;
		}
		.header .search .search-input:focus{
			border:1px solid #ff6700;
		}
		.header .search .search-input:focus ~ .search-span{
			border-color: #ff6700;
		}
		.header .search .search-input:focus ~ .search-ad{
			display: none;
		}
		.header .search input:focus ~ .search-list{
			display: inline-block;
			border-top: none;
		}
	/* 搜索框结束*/
/* 商品分类导航结束*/
/* 内容*/
	/*电话卡标题*/
		.title{
			height: 50px;
			background: red;
			margin-top: 40px;
			line-height: 50px;
		}
		/*电话卡标题左部分*/
			.title .title-hd{
				float: left;
			}
			.title .title-hd h2{
				float: left;
			}
			.title .title-hd span{
				float: left;
				font-size: 13px;
				margin:0px 10px;
				color:#6189b2;
			}
			.title .title-hd a{
				float: left;
				color:#757575;
			}
			.title .title-hd a:hover{
				color:#ff6700;
			}
		/*电话卡标题左部分结束*/
		/*电话卡标题右部分*/
			.title .title-nav{
				float: right;
			}
			.title-nav-list{
				float: right;
			}
			.actived{
				color: #ff6700;
				cursor: default;
			}
			.title .title-nav a{
				padding:0px 5px;
				font-size: 13px;
			}
			.title .title-nav .title-nav-list a:hover{
				color: #ff6700;
			}
			.title .title-nav span{
				color:#efeef0;
				font-size: 15px;
			}
			.title .title-nav .title-nav-box{
				float: right;
				margin-top: 10px;
				display: inline-block;
				width: 120px;
				height: 30px;
				line-height: 30px;
				background: #ff6700;
				text-align:center;
				color: #fff;
			}
		/*电话卡标题右部分结束*/
	/*电话卡标题结束*/
/* 内容结束*/