.clearfix:after{
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
	display: block;
}
.clearfix{
	*zoom:1;
}

a{
	text-decoration: none;
}
/*hd部分样式*/
.hd{
	height: 540px;
	background:#242424;
}
.hd .nav-top{
	position: relative;
	width: 1360px;
	height: 60px;
	margin: 0 auto;
}
.hd .nav-top img{
	float: left;
	cursor: pointer;
}
.hd .nav-top .img{
	float: left;
}
.hd .nav-top a{
	float: left;
	line-height: 60px;
	margin: 0 40px;
	color: #fff;
	font-size: 12px;
}
.hd .nav-top a:hover{
	color: #00eaff;
}
.hd .nav-top .last{
	position: absolute;
	top: 14px;
	right:60px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:1px #fff solid;
	border-radius: 15px 15px;
}
.hd .nav-top .last:hover{
	background: #00eaff;
	color: #fff;
	border-color: #00eaff;
}
.hd .img{
  	position: relative;
	height: 480px;
	background-repeat: no-repeat;
/*	background: url(../img/bg.jpg);*/
	background: #151869;
	overflow: hidden;
}
.hd .img p{
	text-align: center;
	color: #fff;
}
.hd .img p:first-child{
	margin-top: 125px;
	margin-bottom: 30px;
	font-size: 46px;
}
.hd .img p:lsat-child{
	font-size: 18px;
}
.hd .img .pingtai{
	width: 550px;
	margin: 0 auto;
	margin-top: 65px;
}
.hd .img a{
	display: inline-block;
	width: 260px;
	background:#00eaff;
	color: #042b44;
	line-height: 55px;
	text-align: center;
	transition: 0.2s linear background,0.2s linear color;
}
.hd .img a:first-child{
	margin-right: 25px;
}
.hd .img a:hover{
	background: #0087ff;
	color: #fff;
}



.main .one{
	width: 1360px;
	margin: 0 auto;
	height: 580px;
        background: #fff;
        overflow: hidden;
        box-sizing: border-box;
}
.main .one>p{
        text-align: center;
        font-weight: 400;
}
.main .one>p:first-child{    
	margin-top: 80px;
        font-size: 31px;
}
.main .one>p:last-child{  
	margin-top: 38px;
	font-size: 20px;
}
.main .one>.img{
	float: left;
        margin-right: 32px;
        margin-top: 80px;
}
.main .one>.img:last-child{
	margin-right: 0;
}
.main .one>.img p{
	width: 316px;    
}
.main .one>.img p:nth-child(2){
	margin-top: 36px;
	font-size: 16px;
}
.main .one>.img p:last-child{
	margin-top: 24px;
        font-size: 14px;
        color: #8b8b8b;
}
.main .two{
	background: #f6f6f6;
        width: 100%;
}
.main .two .cent{
	width: 1360px;
        margin: 0 auto;
        overflow: hidden;
}
.main .two .cent>p{
	text-align: center;
}
.main .two .cent>p:first-child{
	margin-top: 78px;
	font-size:32px;
}
.main .two .cent>p:nth-child(2){
	font-size: 20px;
	margin-top: 40px;
        margin-bottom: 80px;
}
.main .two .cent .fou{
	float: left;
	width: 662px;
}.main .two .cent .left{
	margin-right: 32px;
}
.main .two .cent .fou p{
	text-align: center;
	margin: 26px 0 43px;
}


.home{
        margin: 0 auto;
        overflow: hidden;
}
.home>p{
        text-align: center;
        font-weight: 400;
}
.home>p:first-child{    
        margin: 80px 0 38px;
        font-size: 31px;
}
.home>p:nth-child(2){
        font-size: 20px;
}
.home>p:last-child{  
        width: 65px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        cursor: pointer;
        margin-bottom: 80px;
}
.home>p:last-child:hover{
        color: #0fbdd8;
}
.home>.flo{
        width: 1360px;
        margin: 0 auto;
        margin-top: 120px;
}
.home .img{
        position: relative;
        float: left;
        width: 435px;
        height: 340px;
        box-sizing: border-box;
}
.home .img:hover{
        box-shadow: -5px 5px 5px #eee,5px -5px 5px #eee;

}
.home .img:nth-child(1){
        background: #d7f8ff;
        padding-left: 76px;
}
.home .img:nth-child(2){
        background: #d2e2ff;
        margin-left: 25px;
        padding-left: 39px;
}
.home .img:nth-child(3){
        background: #ffe0d6;
        margin-left: 25px;
        padding-left: 73px;
}
.home .img img{
        position: absolute;
        bottom: 140px;
}
.home .img .a1{
        height: 270px;
}
.home .img .a2{
        height: 278px;
}
.home .img .desc{
        height: 120px;
        width: 435px;
        border:1px #eceef0 solid;
        position: absolute;
        left: 0;
        bottom: 0px;
        padding:25px;
        box-sizing: border-box;
        background: #fff;
}
.home .img .desc p:first-child{
        color: #000;
        font-size: 15px;
}
.home .img .desc p:last-child{
        color: #8b8b8b;
        font-size: 14px;
        margin-top: 10px;
}





.ft .top{
	width: 1360px;
        height: 290px;
	padding: 83px 0;
	margin: 0 auto;
}
.ft .top>p{
	font-size: 20px;
	text-align: center;
}
.ft .top .boxes{
	float: left;
        margin-top: 65px;
	width: 340px;
        padding: 18px;
        box-sizing: border-box;
}
.ft .top .boxes .more{
	font-size: 12px;
	margin-top: 15px;
        color: #0fbdd8;
        cursor: pointer;
}
.ft .top .boxes .title{
	font-size: 16px;
	margin: 32px 0;
}
.ft .top .boxes .desc{
	font-size: 13px;
        line-height: 18px;
	color: #b0b0b0;
}
.ft>.bg{
	background: #292f59;
}
.ft .bottom{
	overflow: hidden;
	position: relative;
	width: 1360px;
        height: 510px;
	margin: 0 auto;
}
.ft .bottom>p{
	color: #fff;
	margin: 60px 0;
	text-align: center;
}
.ft .bottom img{
	margin: 0 109px;
}
.ft .bottom .lc{
	float: left;
	width: 272px;
        text-align: center;
}
.ft .bottom .lc p:first-child{
	margin: 28px 0;
        font-size: 18px;
}
.ft .bottom .lc p{
	color: #fff;
	font-size: 12px;
}
.ft .bottom a{
	position: absolute;
	top: 390px;
	left: 550px;
        display: inline-block;
        margin: 0 auto;
        width: 260px;
        height: 55px;
        font-size: 20px;
        background:#00eaff;
        color: #fff;
        line-height: 55px;
        text-align: center;
        transition: 0.2s linear background,0.2s linear color;	
}
.ft .bottom a:hover{
	color: #000;
}
.ft .bottom .btn01{
	top: 280px;
	background: #fff;
	color: #000;
}
.ft .bottom .btn01:hover{
	color: #0fbdd8;
}
.ft .colo-1{
	background: #f6f6f6;
}
.ft .colo-2{
	background: #0fbdd8;
        height: 450px;
}
.ft .colo-3{
	height: 280px;
	background: #434448;
        overflow: hidden;

}
.ft .colo-3 .cent{
	margin: 0 auto;
        overflow: hidden;
	padding: 85px 0 60px;
}
.ft .colo-3 .cent>p{
	font-size: 32px;
	color: #fff;
        text-align: center;
} 
.ft .colo-3 .cent .btn02{
	width: 635px;
        margin: 0 auto;
        margin-top: 55px;
}
.ft .colo-3 .cent .btn02>a{
	display: inline-block;
	width: 300px;
	height: 55px;
        font-size: 20px;
        color: #fff;
        text-align: center;
        line-height: 55px;
        transition: 0.2s linear background,0.2s linear color;  
}
.ft .colo-3 .cent .btn02>a:hover{
	color: #000;
}
.ft .colo-3 .cent .btn02>a:first-child{
	background: #5481fe;
}
.ft .colo-3 .cent .btn02>a:last-child{
	background: #0dbcd7;
        margin-left: 30px;
}


.bottom .back-01{
	background: #333333;
}
.bottom .back-01 .ol{
	width: 1360px;
        height: 216px;
        margin: 0 auto;
}
.bottom .back-01 .ol dl{
	float: left;
        margin-left: 200px;
}
.bottom .back-01 .ol dl:first-child{
	margin-left: 0;
}
.bottom .back-01 .ol dl dt{
	margin: 45px 0 20px;
        font-size: 13px;
        color: #fff;
}
.bottom .back-01 .ol dl dd{
	margin: 5px 0;
	font-size: 13px;
	color: #b0b0b0;
        cursor: pointer;
}
.bottom .back-02{
	height: 58px;
        background: #000;
        color: #b0b0b0;
        text-align: center;
        padding-top: 20px;
        font-size: 12px;
}
.bottom .back-02 span{
	cursor: pointer;
} 
.bottom .back-02 span:nth-child(2){
	cursor: ;
}






