/*清除浮动*/
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}


/*共通样式*/
.top-nav{
	height: 40px;
	background: #333333;
}
.top-nav .mav-cen{
	margin: 0 auto;
	width: 1226px;	
}
.top-nav ul li a{
	color: #b0b0b0;
	line-height: 40px;
	font-size: 14px;
	text-decoration: none;
	margin: 0 6px;	
}
.top-nav ul li a:hover{
	color: #fff;	
}


/*顶部导航样式*/
.top-nav .left-nav{
	float: left;
	height: 40px;
}
.top-nav .left-nav .left-nav-item{
	color: #b0b0b0;
	float: left;
	font-size: 14px;
	list-style: none;
}
.top-nav .right-inf{
	float: right;
	height: 40px;
}
.top-nav .right-inf .right-inf-item{
	float: right;
	font-size: 14px;
	color: #b0b0b0;
	list-style: none;
}


/*头部hd部分样式*/
.hd{
	width: 1226px;
	height: 100px;
	padding: 24px 0;
	margin:0 auto;
	box-sizing: border-box;
}
.hd .logo{
	display: inline-block;
	width: 200px;
}
.hd .logo a{
	color: #000;
	float:left;	
	text-decoration: none;
}
.hd .logo a img{
	float: left;
	margin-right: 10px;
	width: 52px;
}
.hd .logo a .logo-dot{
	float: left;
	letter-spacing: 5px;
	font-size: 28px;
}
.hd .logo a .logo-rig{
	float: left;
	letter-spacing: 1px;
	font-size: 11px;
	color: #a7a7a7;
}
.hd .hd-nav{
	display: inline-block;
	float: right;
}
.hd .hd-nav .hd-nav-item{
	float: left;
	list-style: none;
}
.hd .hd-nav .hd-nav-item a{
	margin-left: 45px;
	line-height: 52px;
	text-decoration: none;
	color: #000;
}


/*section-bd部分样式*/
.bd{
	height: 1015px;
        margin-bottom: 90px;
	background: url(../img/jr-bg.jpg);
	background-size: 100% 640px;
	background-repeat: no-repeat;
}
.bd a{
	text-decoration: none;
}
.bd .neirong{
	position: relative;
	margin:0 auto;
	width: 1226px;
}
.bd .neirong .cent{
	width: 500px;
	padding-top: 200px;
	margin: 0 auto;
}
.bd .neirong .cent .desc{
	color: #fff;
	font-size: 50px;
	letter-spacing: 2px;
}
.bd .neirong .cent a .app{
	margin: 0 auto;
	margin-top:35px;
	width: 260px;
	height: 60px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	background: #ff6700;
	border-radius: 5px;
}
.bd .neirong .three{
	position: absolute;
	top:560px;
	width: 1200px;
	height: 450px;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
	background: #fff;
	border-bottom: 1px #e6e6e6 solid;
}
.bd .neirong .three .bd-item{
	float: left;
	margin-left: 30px;
}
.bd .neirong .three .bd-item:first-child{
	margin-left: 0pc;
}
.bd .neirong .three .bd-item .box{
	margin:0 auto;
        margin-bottom: 20px;
	width: 300px;
	font-size: 14px;
        padding:25px 0 30px 0;
	border-bottom: 1px #e6e6e6 solid;
}
.three .bd-item .box p{
	display: inline-block;
	margin:8px;
}
.three .bd-item .box .title1{
	color: #ea5600;
}
.three .bd-item .box .title2{
	color: #4481c8;
}
.three .bd-item .box .title3{
	color: #4db793;
}
.three .bd-item .box .description,span{
	color:#666666;
}
.bd .neirong .three .bd-item .more{
	margin: 0 105px;
	color: #fd3911;
}
.bd .neirong .three>a .iconfont{
	margin-left: 5px;
}



/*footer部分样式*/
.ft {
	width: 1226px;
    height: 100px;
    margin: 0 auto;
}
.ft .footer-left{
	float: left;
	width: 800px;
	margin-top: 20px;
}
.ft .footer-left a{
	float: left;
	font-size: 14px;
	color: #575757;
}
.ft .footer-left p{
	float: left;
}
.ft .footer-left .logo{
	float:left;
	width: 47px;
	height: 47px;
    background: url(../img/jr-logo.jpg);
    background-size: cover;
	margin-right: 15px;
}
.ft .footer-left span{
	margin: 0 8px;
}
.ft .footer-left>p{
	font-size: 10px;
	color: #575757;
}
.ft .footer-right{
	float: right;
	width: 220px;
}
.ft .footer-right p:first-child{
	font-size: 12px;
	color:  #575757;
}
.ft .footer-right p:nth-child(2){
<<<<<<< HEAD
	font-size: 22px;
	color: #fd3911;
	margin: 6px 0;
=======
	font-size: 20px;
	color: #ff6700;
        margin:5px 0;
>>>>>>> fa034e639833df3aca2d480f7b5753403c96c913
}
.ft .footer-right p:nth-child(3){
	font-size: 11px;
	color:  #575757;	
}
